<div class="container login-content" ng-controller="loginController as vm">
    <!--<div class="row">
        <div class="col-md-6">
            <h2>Register</h2>
            <section>
                <form>
                    <div class="form-group">
                        <label class="control-label" for="firstName">First Name: </label>
                        <div>
                            <input type="text" class="form-control" id="firstName" ng-model="vm.registerFirstName"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="LastName">Last Name: </label>
                        <div>
                            <input type="text" class="form-control" id="LastName" ng-model="vm.registerLastName"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="email">Email: </label>
                        <div>
                            <input type="email" class="form-control" id="email" ng-model="vm.registerEmail"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="birthday">Birthday: </label>
                        <div>
                            <input type="date" class="form-control" id="birthday" ng-model="vm.registerDob"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="password">Password: </label>
                        <div>
                            <input type="password" class="form-control" id="password" ng-model="vm.registerPassword"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="confirmPassword">Confirm Password: </label>
                        <div>
                            <input type="password" class="form-control" id="confirmPassword" ng-model="vm.registerConfirmPassword"/>
                        </div>
                    </div>

                    <button class="btn btn-primary" ng-click="vm.registerUser()">Register</button>
                </form>
            </section>
        </div>
    </div>-->
    <div class="card lc-block">
        <div class="card-header bgm-blue">
        </div>

        <div class="card-body card-padding">
            <div class="row">
                <div class="form-group fg-float m-b-30">
                    <div class="fg-line">
                        <input type="email" class="form-control fg-input" id="username" ng-model="vm.loginUsername">
                        <label class="fg-label">Username</label>
                    </div>
                </div>
                <div class="form-group fg-float m-b-30">
                    <div class="fg-line">
                        <input type="password" class="form-control fg-input" id="loginPassword" ng-model="vm.loginPassword">
                        <label class="fg-label">Password</label>
                    </div>
                </div>
                <button class="btn btn-block btn-lg btn-primary waves-effect" ng-click="vm.login()">Login</button>
                <div class="clearfix"></div>
                <div class="row card-footer">
                    <div class="col-md-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">
                                <i class="input-helper"></i>
                                Keep me signed in
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="#">Forgot Password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>